# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Secrets
.env

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
Desktop.ini

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.thm
*.vrb
*.xdy
*.tdo
*.fls
*.fdb_latexmk

# *.pdf

# Specific GraphRAG and LangExtract processing data
ms_graphrag/output/
ms_graphrag/cache/
ms_graphrag/lancedb/
*.jsonl
*.parquet
entities.json
langchain_kg.json
knowledge_graph.json

# Default prompts
ms_graphrag/prompts/
graphrag-langextract-vllm/prompts/

# Project output folders
graphrag-langextract-vllm/output/
graphrag-langextract-vllm/cache/
graphrag-langextract-vllm/lancedb/

# pathwaycom
# pathwaycom/pathway - cloned external repo (don't push this)
pathwaycom/pathway/