langchain-ollama
langchain-core
langchain-community
langgraph
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
transformers
numpy
torch
sounddevice
soprano-tts
pyttsx3
ollama
pdf2image
reportlab
pillow
decord
